In [7]:
import sqlite3


database_file = 'sqlite_db_pythonsqlite.db'


connection = sqlite3.connect(database_file)


cursor = connection.cursor()

In [10]:
cursor.execute("""
    SELECT
        facility_name,
        total_revenue
    FROM (
        SELECT
            f.name AS facility_name,
            SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END) AS total_revenue
        FROM
            Bookings AS b
        JOIN
            Facilities AS f ON b.facid = f.facid
        GROUP BY
            facility_name
    ) AS subquery
    WHERE
        total_revenue < 1000
    ORDER BY
        total_revenue;
""")
result = cursor.fetchall()
print(result)

[('Table Tennis', 180), ('Snooker Table', 240), ('Pool Table', 270)]

In [11]:
cursor.execute("""
    SELECT
        m.surname AS member_surname,
        m.firstname AS member_firstname,
        r.surname AS recommended_by_surname,
        r.firstname AS recommended_by_firstname
    FROM
        Members AS m
    LEFT JOIN
        Members AS r ON m.recommendedby = r.memid
    ORDER BY
        m.surname, m.firstname;
""")
result = cursor.fetchall()
print(result)

[('Bader', 'Florence', 'Stibbons', 'Ponder'), ('Baker', 'Anne', 'Stibbons', 'Ponder'), ('Baker', 'Timothy', 'Farrell', 'Jemima'), ('Boothe', 'Tim', 'Rownam', 'Tim'), ('Butters', 'Gerald', 'Smith', 'Darren'), ('Coplin', 'Joan', 'Baker', 'Timothy'), ('Crumpet', 'Erica', 'Smith', 'Tracy'), ('Dare', 'Nancy', 'Joplette', 'Janice'), ('Farrell', 'David', None, None), ('Farrell', 'Jemima', None, None), ('GUEST', 'GUEST', None, None), ('Genting', 'Matthew', 'Butters', 'Gerald'), ('Hunt', 'John', 'Purview', 'Millicent'), ('Jones', 'David', 'Joplette', 'Janice'), ('Jones', 'Douglas', 'Jones', 'David'), ('Joplette', 'Janice', 'Smith', 'Darren'), ('Mackenzie', 'Anna', 'Smith', 'Darren'), ('Owen', 'Charles', 'Smith', 'Darren'), ('Pinker', 'David', 'Farrell', 'Jemima'), ('Purview', 'Millicent', 'Smith', 'Tracy'), ('Rownam', 'Tim', None, None), ('Rumney', 'Henrietta', 'Genting', 'Matthew'), ('Sarwin', 'Ramnaresh', 'Bader', 'Florence'), ('Smith', 'Darren', None, None), ('Smith', 'Darren', None, None), ('Smith', 'Jack', 'Smith', 'Darren'), ('Smith', 'Tracy', None, None), ('Stibbons', 'Ponder', 'Tracy', 'Burton'), ('Tracy', 'Burton', None, None), ('Tupperware', 'Hyacinth', None, None), ('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')]

In [12]:
cursor.execute("""
    SELECT
        f.name AS facility_name,
        COUNT(b.memid) AS usage_by_members
    FROM
        Bookings AS b
    JOIN
        Facilities AS f ON b.facid = f.facid
    WHERE
        b.memid <> 0
    GROUP BY
        facility_name;
""")
result = cursor.fetchall()
for row in result:
    print(row)

('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

In [13]:
cursor.execute("""
    SELECT
        strftime('%Y-%m', b.starttime) AS month,
        f.name AS facility_name,
        COUNT(b.memid) AS usage_by_members
    FROM
        Bookings AS b
    JOIN
        Facilities AS f ON b.facid = f.facid
    WHERE
        b.memid <> 0
    GROUP BY
        month, facility_name
    ORDER BY
        month, facility_name;
""")
result = cursor.fetchall()
for row in result:
    print(row)

('2012-07', 'Badminton Court', 51)
('2012-07', 'Massage Room 1', 77)
('2012-07', 'Massage Room 2', 4)
('2012-07', 'Pool Table', 103)
('2012-07', 'Snooker Table', 68)
('2012-07', 'Squash Court', 23)
('2012-07', 'Table Tennis', 48)
('2012-07', 'Tennis Court 1', 65)
('2012-07', 'Tennis Court 2', 41)
('2012-08', 'Badminton Court', 132)
('2012-08', 'Massage Room 1', 153)
('2012-08', 'Massage Room 2', 9)
('2012-08', 'Pool Table', 272)
('2012-08', 'Snooker Table', 154)
('2012-08', 'Squash Court', 85)
('2012-08', 'Table Tennis', 143)
('2012-08', 'Tennis Court 1', 111)
('2012-08', 'Tennis Court 2', 109)
('2012-09', 'Badminton Court', 161)
('2012-09', 'Massage Room 1', 191)
('2012-09', 'Massage Room 2', 14)
('2012-09', 'Pool Table', 408)
('2012-09', 'Snooker Table', 199)
('2012-09', 'Squash Court', 87)
('2012-09', 'Table Tennis', 194)
('2012-09', 'Tennis Court 1', 132)
('2012-09', 'Tennis Court 2', 126)